<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DeleteAttireServlet</servlet-name>
        <servlet-class>DeleteAttireServlet.DeleteAttireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAttireServlet</servlet-name>
        <servlet-class>DeleteAttireServlet.deleteAttireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteattireServlet</servlet-name>
        <servlet-class>deleteattireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateattireServlet</servlet-name>
        <servlet-class>updateMensattireServlet.updateMensattireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAttireServlet</servlet-name>
        <servlet-class>addAttireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubcategoriesServlet</servlet-name>
        <servlet-class>GetSubcategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMensattireServlet</servlet-name>
        <servlet-class>updateMensattireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMensProductsServlet</servlet-name>
        <servlet-class>LoadMensProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertWomenServlet</servlet-name>
        <servlet-class>insertWomenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateWomenServlet</servlet-name>
        <servlet-class>updateWomenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteWomenServlet</servlet-name>
        <servlet-class>deleteWomenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentProductServlet</servlet-name>
        <servlet-class>RentProductServlet.RentProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchImagesServlet</servlet-name>
        <servlet-class>FetchImagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAttireServlet</servlet-name>
        <url-pattern>/DeleteAttireServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAttireServlet</servlet-name>
        <url-pattern>/deleteAttireServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteattireServlet</servlet-name>
        <url-pattern>/deleteattireServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateattireServlet</servlet-name>
        <url-pattern>/updateattireServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAttireServlet</servlet-name>
        <url-pattern>/addAttireServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubcategoriesServlet</servlet-name>
        <url-pattern>/GetSubcategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMensattireServlet</servlet-name>
        <url-pattern>/updateMensattireServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMensProductsServlet</servlet-name>
        <url-pattern>/LoadMensProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertWomenServlet</servlet-name>
        <url-pattern>/insertWomenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateWomenServlet</servlet-name>
        <url-pattern>/updateWomenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteWomenServlet</servlet-name>
        <url-pattern>/deleteWomenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentProductServlet</servlet-name>
        <url-pattern>/RentProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchImagesServlet</servlet-name>
        <url-pattern>/FetchImagesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
